@{
    ViewBag.Title = "Home";
}

<nav>
    <h1>Welcome to Unravel</h1>

    <h2>ASP.NET MVC</h2>
    <ul>
        <li><a target="env" href="@Url.Action(nameof(HomeController.Unravel_Application_Services))"><code>Unravel.Application.Services</code></a></li>
        <li><a target="env" href="@Url.Action(nameof(HomeController.HttpContext_Current_GetRequestServices))"><code>HttpContext.GetRequestServices()</code></a></li>
        <li><a target="env" href="@Url.Action(nameof(HomeController.HttpContextBase_GetRequestServices))"><code>HttpContextBase.GetRequestServices()</code></a></li>
        <li><a target="env" href="@Url.Action(nameof(HomeController.Throw))"><code>throw</code></a></li>
        <li><a target="env" href="@Url.Action(nameof(AspNetTestController.Index), "AspNetTest")">Constructor Injection</a></li>
    </ul>

    <h2>OWIN</h2>
    <ul>
        <li><a target="env" href="/OWIN/Startup_Services"><code>Startup.Services</code></a></li>
        <li><a target="env" href="/OWIN/IAppBuilder_GetApplicationServices"><code>IAppBuilder.GetApplicationServices()</code></a></li>
        <li><a target="env" href="/OWIN/IOwinContext_GetRequestServices"><code>IOwinContext.GetRequestServices()</code></a></li>
        <li><a target="env" href="/OWIN/Throw"><code>throw</code></a></li>
    </ul>

    <h2>ASP.NET Core</h2>
    <ul>
        <li><a target="env" href="/AspNetCore/Startup_Services"><code>Startup.Services</code></a></li>
        <li><a target="env" href="/AspNetCore/IApplicationBuilder_ApplicationServices"><code>IApplicationBuilder.ApplicationServices</code></a></li>
        <li><a target="env" href="/AspNetCore/HttpContext_RequestServices"><code>HttpContext.RequestServices</code></a></li>
        <li><a target="env" href="/AspNetCore/Throw"><code>throw</code></a></li>
    </ul>
</nav>

<iframe name="env"
        src="@Url.Action(nameof(HomeController.Unravel_Application_Services))" />
